@charset "utf-8";

// Colors
$default_dark_color: #333;
$default_white_color: #eee;
$black: black;
$white: white;
$orange: orange;
$nav_background: #252831;
$restaurant_list_name: #253035;
$restaurant_hours: #666;
$bright_orange_color: #ffb200;
$main_background: #f3f3f3;
$body_background: #fdfdfd;
$white_background: #ccc;
$color_alto_approx: #ddd;
$footer_background: #444;
$review_time: #d8d8d8;
$hover_focus_outline: #3397db;
$black_cards_shadow: rgba(0, 0, 0, 0.6);

// Fonts
$font_0: Arial;
$font_1: Helvetica;
$font_2: sans-serif;

//@extend-elements
//original selectors
//body, td, th, p
%extend_1 {
  font-family: $font_0, $font_1, $font_2;
  font-size: 1em;
  color: $default_dark_color;
  line-height: 1.5;
}

//original selectors
//ul, li
%extend_2 {
  font-family: $font_0, $font_1, $font_2;
  font-size: 1em;
  color: $default_dark_color;
}

//original selectors
//#restaurant-container, #reviews-container,#reviews-form-container
%extend_3 {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid $color_alto_approx;
  padding: 15px 10px;
}

body {
  @extend %extend_1;
  background-color: $body_background;
  margin: 0;
  position: relative;
}
td {
  @extend %extend_1;
}
th {
  @extend %extend_1;
}
p {
  @extend %extend_1;
}
ul {
  @extend %extend_2;
}
li {
  @extend %extend_2;
}
a {
  color: $orange;
  text-decoration: none;
  &:hover {
    color: $nav_background;
    text-decoration: none;
}
  &:focus {
    color: $hover_focus_outline;
    text-decoration: none;
}
  img {
    border: none 0 $white;
}
}
h1 {
  font-family: $font_0, $font_1, $font_2;
  margin: 0 0 20px;
}
h2 {
  font-family: $font_0, $font_1, $font_2;
  margin: 0 0 20px;
}
h3 {
  font-family: $font_0, $font_1, $font_2;
  margin: 0 0 20px;
}
h4 {
  font-family: $font_0, $font_1, $font_2;
  margin: 0 0 20px;
}
h5 {
  font-family: $font_0, $font_1, $font_2;
  margin: 0 0 20px;
}
h6 {
  font-family: $font_0, $font_1, $font_2;
  margin: 0 0 20px;
}
article {
  display: block;
}
aside {
  display: block;
}
canvas {
  display: block;
}
details {
  display: block;
}
figcaption {
  display: block;
}
figure {
  display: block;
}
footer {
  display: block;
  background-color: $footer_background;
  color: $white;
  font-size: 0.8em;
  letter-spacing: 1px;
  padding: 25px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
header {
  display: block;
}
hgroup {
  display: block;
}
menu {
  display: block;
}
nav {
  display: block;
  display: flex;
  height: 80px;
  width: 100%;
  background-color: $nav_background;
  text-align: center;
  h1 {
    margin: auto;
    a {
      color: $white;
      font-size: 1.2em;
      font-weight: 200;
      letter-spacing: 8px;
      text-transform: uppercase;
  }
}
}
section {
  display: block;
  padding: 0;
}
main {
  background-color: $main_background;
  min-height: 100%;
}
#breadcrumb {
  padding: 10px 16px 16px;
  list-style: none;
  background-color: $default_white_color;
  font-size: 1.2em;
  line-height: 30px;
  margin: 0;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  li {
    display: inline;
    a {
      color: $hover_focus_outline;
      text-decoration: none;
      &:hover {
        color: $hover_focus_outline;
        text-decoration: underline;
    }
  }
    + li:before {
      padding: 8px;
      color: $black;
      content: "/\00a0";
  }
}
}
#breadcrumb-nav {
  text-align: left;
  height: auto;
  width: auto;
}
#map {
  height: 400px;
  width: 100%;
  background-color: $white_background;
}
.filter-options {
  padding: 10px;
  background-color: $nav_background;
  align-items: center;
  h2 {
    color: $white;
    margin: 5px 0;
    font-size: 1.4em;
    font-weight: normal;
    line-height: 1;
}
  select {
    background-color: $white;
    border: 1px solid $white;
    font-family: $font_0, $font_2;
    font-size: 1rem;
    height: 35px;
    letter-spacing: 0;
    margin: 10px;
    padding: 0 15px;
    width: 95%;
    &:focus {
      border: 2px solid $bright_orange_color;
  }
}
}
#restaurants-list {
  background-color: $main_background;
  list-style: outside none none;
  margin: 0;
  padding: 15px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  /**
  * Credits: https://css-tricks.com/recreating-the-twitter-heart-animation/
  */
  [id='toggle-favorite'] {
    position: absolute;
    left: -100vw;
    &:checked + label {
      color: #e2264d;
      will-change: font-size;
      animation: heart 1s cubic-bezier(.17, .89, .32, 1.49);
    }
  }
  [for='toggle-favorite'] {
    align-self: center;
    color: #aab8c2;
    font-size: 3em;
    cursor: pointer;
    position: absolute;
    margin-left: 15px;
  }
  @keyframes heart {
    0%, 15% { font-size: 0; }
  }
  .restaurant-img {
    background-color: $white_background;
    display: block;
    margin: 0;
    max-width: 100%;
    min-width: 100%;
    height: auto;
}
  li {
    background-color: $white;
    overflow: hidden;
    font-family: $font_0, $font_2;
    text-align: center;
    min-height: 380px;
    width: 100%;
    margin: 15px 0;
    padding: 0 0 25px;
    border: 2px solid $white_background;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 30px 0;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 7px 10px 5px $black_cards_shadow;
    h2 {
      color: $restaurant_list_name;
      font-family: $font_0, $font_2;
      font-size: 1.4em;
      font-weight: 200;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0;
      line-height: 1.3;
      margin-top: 25px;
      margin-bottom: 10px;
  }
    p {
      margin: 0;
      font-size: 1em;
  }
    a {
      display: inline-block;
      background-color: $bright_orange_color;
      color: $default_dark_color;
      font-size: 1em;
      padding: 8px 30px 10px;
      margin-top: 15px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      border: 2px solid $white;
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 7px;
      &:focus {
        border: 2px solid $hover_focus_outline;
        text-decoration: none;
    }
  }
}
  .restaurant-neighborhood p:first-child {
    font-size: 1em;
    text-transform: uppercase;
}
  .restaurant-address p {
    text-align: left;
    font-size: 1em;
    margin: 15px;
}
}
.restaurant-neighborhood {
  text-align: center;
  font-size: 1em;
}
.inside {
  header {
    position: fixed;
    top: 0;
    height: auto;
    width: 100%;
    border-bottom: 1px solid $white_background;
    z-index: 1000;
}
  #maincontent {
    display: flex;
    padding-top: 130px;
    padding-bottom: 70px;
}
  #map-container {
    background: $default_dark_color none repeat scroll 0 0;
    height: 40vh;
    z-index: 1;
}
  #map {
    background-color: $white_background;
    height: 100%;
    width: 100%;
}
  #footer {
    bottom: 0;
}
}
#restaurant-name {
  color: $bright_orange_color;
  background-color: $default_dark_color;
  font-family: $font_0, $font_2;
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 15px 0 -30px;
  padding: 10px 0 40px;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.1;
  width: 100%;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 30px 0;
}
#restaurant-img {
  width: 100%;
  height: 100%;
  background-color: $white;
  overflow: hidden;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 30px 0;
  min-height: 240px;
  padding: 0;
  margin-bottom: 2%;
  z-index: 2;
}
#restaurant-address {
  font-size: 1.2em;
  margin: 10px 0;
  width: 100%;
  text-align: center;
}
#restaurant-cuisine {
  background-color: $default_dark_color;
  color: $color_alto_approx;
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 10px;
  padding: 50px 0 10px;
  margin-top: -50px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 30px 0;
}
#restaurant-container {
  @extend %extend_3;

  /**
  * Credits: https://css-tricks.com/recreating-the-twitter-heart-animation/
  */
  [id='toggle-favorite'] {
    position: absolute;
    left: -100vw;
    &:checked + label {
      color: #e2264d;
      will-change: font-size;
      animation: heart 1s cubic-bezier(.17, .89, .32, 1.49);
    }
  }
  [for='toggle-favorite'] {
    align-self: center;
    color: #aab8c2;
    font-size: 3em;
    cursor: pointer;
    position: absolute;
    margin-left: 15px;
  }
  @keyframes heart {
    0%, 15% { font-size: 0; }
  }
}
#reviews-container {
  @extend %extend_3;
  h2 {
    color: $bright_orange_color;
    font-size: 2.2em;
    font-weight: 300;
    letter-spacing: 2px;
    padding-bottom: 1pt;
}
  h3 {
    color: $bright_orange_color;
    background-color: $default_dark_color;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 15px;
    font-size: 1.8em;
    font-weight: 200;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}
}
#reviews-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  li {
    display: flex;
    flex-wrap: wrap;
    background-color: $white;
    border: 2px solid $main_background;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 30px 0;
    font-family: $font_0, $font_2;
    text-align: left;
    list-style-type: none;
    margin: 0 0 30px;
    overflow: hidden;
    padding: 0 20px 20px;
    position: relative;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 7px 10px 5px $black_cards_shadow;
    width: 100%;
}
}
#restaurant-hours {
  td {
    color: $restaurant_hours;
    width: auto;
    font-size: 1.1em;
    &:nth-child(2) {
      text-align: right;
  }
}
  tr:hover td {
    background-color: $default_dark_color;
    color: $bright_orange_color;
}
}
.review-card-header {
  width: 100%;
  padding: 10px 20px;
  margin: 0 -25px;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 30px 0;
  background-color: $default_dark_color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    margin: 0;
    letter-spacing: 1px;
    color: $default_white_color;
    font-size: 1.6em;
}
  time {
    color: $review_time;
    font-size: 1.2em;
}
}
time {
  margin: 0;
}
.review-card-body {
  width: 100%;
  height: 90%;
  padding: 0 10px 20px;
  font-size: 1.2em;
  p {
    display: inline-block;
    padding: 5px 10px;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 7px;
    background-color: $bright_orange_color;
    color: $default_white_color;
    font-size: 1.1em;
    font-weight: 600;
    letter-spacing: 2px;
}
  article {
    font-size: 1em;
    font-weight: 500;
    line-height: normal;
    text-align: justify;
}
}
#review-form-container {
  @extend %extend_3;
  h3 {
    color: $bright_orange_color;
    background-color: $default_dark_color;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 15px;
    font-size: 1.8em;
    font-weight: 200;
    letter-spacing: 2px;
    text-align: center;
    align-items: center;
    width: 100%;
    padding: 15px 10px;
  }
  #review-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    width: 100%;
    margin: 2%;
    div {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
    }
    input[type="text"],
    input[type="number"],
    textarea {
      width: 100%;
      box-shadow: inset 0 1px 2px $black_cards_shadow, 0 1px 0 #DDD;
      border: 1px solid #CCC;
      background: $white;
      margin: 0 0 5px;
      padding: 10px;
      border-radius: 5px;
    }
    button[type="submit"] {
      cursor: pointer;
      width: calc((100% / 2) - 2%);
      border: none;
      background: #3BAF55;
      background-image: linear-gradient(bottom, #4CAF55 0%, #3BAF55 52%);
      color: $white;
      margin: 1%;
      padding: 10px;
      border-radius: 5px;
    }
    button[type="reset"] {
      cursor :pointer;
      width: calc((100% / 2) - 2%);
      border: none;
      background: $white;
      background-image: linear-gradient(bottom, #e7e7e7 0%, #d8e7e7 52%);
      color: $black;
      margin: 1%;
      padding: 10px;
      border-radius: 5px;
    }
  }
}
@media only screen and(min-width: 280px) {
  #restaurant-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  #maincontent {
    flex-direction: column;
  }
  #reviews-list li {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1%;
  }
  #review-form {
    margin: 1%;
  }
}
@media only screen and(min-width : 480px) {
  #restaurant-container,
  #reviews-container,
  #review-form-container {
    margin-left: 4%;
    margin-right: 4%;
  }
  .review-card-body p {
    padding: 5px 15px;
  }
  #restaurants-list li {
    margin: 2%;
  }
  #reviews-list li {
    margin: 2%;
  }
  .filter-options select {
    width: calc((100% / 2) - 1.4em);
  }
  #review-form {
    margin: 2%;
    div {
      padding: 5px 15px;
    }
  }
}
@media only screen and(min-width : 768px) {
  #restaurant-container,
  #reviews-container,
  #review-form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  #restaurant-address {
    text-align: center;
    width: 100%;
  }
  #restaurant-hours {
    text-align: left;
    width: 100%;
    td {
      width: auto;
    }
  }
  #restaurant-img-card {
    width: 50%;
  }
  #restaurant-address-card {
    width: 50%;
  }
  #reviews-list li {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2%;
    width: calc((100% / 2) - 10%);
  }
  #review-form {
    width: 80%;
    margin: 2%;
  }
  #restaurants-list li {
    width: calc((100% / 2) - 7%);
    margin: 2% 3%;
  }
}
@media only screen and(min-width : 992px) {
  #restaurant-container,
  #reviews-container,
  #review-form-container {
    margin-left: 5%;
    margin-right: 5%;
  }
  #restaurant-address-card {
    margin-top: -25%;
  }
  #restaurants-list li {
    margin: 2% 2%;
  }
  #reviews-list li {
    width: calc((100% / 2) - 7%);
    margin: 2% 1%;
  }
  #review-form {
    margin: 2% 1%;
  }
  #restaurant-hours td {
    width: auto;
  }
}
@media only screen and(min-width : 1200px) {
  #reviews-list {
    align-items: stretch;
    justify-content: space-between;
    li {
      width: calc((100% / 3) - 7%);
      margin: 2% 1%;
    }
  }
  .inside #map-container {
    height: 50vh;
  }
  #restaurants-list li {
    width: calc((100% / 3) - 2.5%);
    margin: 1% 2%;
  }
}
@media only screen and(min-width : 1680px) {
  #restaurants-list li {
    width: calc((100% / 4) - 2.5%);
    margin: 1% 1%;
  }
}